<div class="step-content">
  <h3 class="step-title">Choose Contract Type</h3>
  <p class="step-description">Select how you want to share the contract information</p>
  
  <div class="contract-type-grid">
    <div class="contract-type-card" 
         [class.selected]="selectedContractType() === 'url'"
         [class.disabled]="loading()"
         (click)="!loading() && onSelectContractType('url')">
      <div class="card-icon">
        <svg fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd"/>
        </svg>
      </div>
      <h4>Contract URL</h4>
      <p>Provide a URL where partners can access the contract information</p>
    </div>

    <div class="contract-type-card"
         [class.selected]="selectedContractType() === 'contents'"
         [class.disabled]="loading()"
         (click)="!loading() && onSelectContractType('contents')">
      <div class="card-icon">
        <svg fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 0h8v12H6V4z" clip-rule="evenodd"/>
          <path d="M8 6h4v2H8V6zM8 10h4v2H8v-2z"/>
        </svg>
      </div>
      <h4>Contract Contents</h4>
      <p>Share text content directly that partners can view and print</p>
    </div>

    <div class="contract-type-card"
         [class.selected]="selectedContractType() === 'model'"
         [class.disabled]="loading()"
         (click)="!loading() && onSelectContractType('model')">
      <div class="card-icon">
        <svg fill="currentColor" viewBox="0 0 20 20">
          <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"/>
          <path fill-rule="evenodd" d="M4 5a2 2 0 012-2v1a1 1 0 001 1h6a1 1 0 001-1V3a2 2 0 012 2v6.5a1.5 1.5 0 01-1.5 1.5h-7A1.5 1.5 0 014 11.5V5z" clip-rule="evenodd"/>
        </svg>
      </div>
      <h4>Contract Model</h4>
      <p>Use a structured form with specific contract fields and party information</p>
    </div>
  </div>
</div>