<div class="parties-section">
  <div class="section-header">
    <h4 class="section-title">{{ title() }} *</h4>
    <button type="button" class="btn-add" (click)="addParty()" [disabled]="loading()">
      <svg fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"/>
      </svg>
      Add {{ singularTitle() }}
    </button>
  </div>
  
  @if (parties().length > 0) {
    <div class="parties-table-container">
      <table class="parties-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Entity Type</th>
            <th>State</th>
            <th>Identification</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (party of parties(); track $index) {
            <tr>
              <td>
                <div class="party-name">
                  {{ party.name }}
                  @if (party.entityType === 'company' && party.companyName) {
                    <div class="company-name">{{ party.companyName }}</div>
                  }
                </div>
              </td>
              <td>
                <span class="entity-type-badge" 
                      [class.individual]="party.entityType === 'individual'"
                      [class.company]="party.entityType === 'company'">
                  {{ getEntityTypeDisplay(party.entityType) }}
                </span>
              </td>
              <td>{{ party.address.state }}</td>
              <td>{{ getIdentificationDisplay(party) }}</td>
              <td>{{ party.officialEmail }}</td>
              <td>
                <div class="action-buttons">
                  <button type="button" 
                          class="btn-edit" 
                          (click)="editParty($index)"
                          [disabled]="loading()"
                          title="Edit party">
                    <svg fill="currentColor" viewBox="0 0 20 20">
                      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
                    </svg>
                  </button>
                  @if (parties().length > 1) {
                    <button type="button" 
                            class="btn-remove" 
                            (click)="removeParty($index)"
                            [disabled]="loading()"
                            title="Remove party">
                      <svg fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"/>
                      </svg>
                    </button>
                  }
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div class="empty-state">
      <p>No {{ title().toLowerCase() }} added yet. Click "Add {{ singularTitle() }}" to get started.</p>
    </div>
  }

  <!-- Modal for editing parties -->
  <app-party-edit-modal
    [isOpen]="isModalOpen()"
    [contact]="editingParty()"
    [loading]="loading()"
    [title]="editingPartyIndex() === -1 ? 'Add ' + singularTitle() : 'Edit ' + singularTitle()"
    (close)="onModalClose()"
    (save)="onModalSave($event)">
  </app-party-edit-modal>
</div>